import React, { memo, useEffect } from 'react'
import { useDispatch, useSelector } from 'react-redux'

import <%= data.styleWrapperName %> from './<%= data.originName %>.style'

export default memo(function <%= data.componentName %>() {
  return (
    <<%= data.styleWrapperName %>>
      <h2><%= data.componentName %></h2>
    </<%= data.styleWrapperName %>>
  )
})
